{% include "base.html" %}
{% block content %}    
<p><h2>Saved files</h2></p>
    
{% if files %}
<ol>
    {% for file in files %}
        <li><p style="color: blue; cursor: pointer;">{{ file.name }}</p></li>       
    {% endfor %}
</ol>
{% endif %}
<form action="/search/" method="get">
    <p><label>filename</label><input id="fname" type="text" name="filename">
    <input type="submit" value="show"></p>
</form>   

{% load static %}
    <script src="{% static 'js/files.js' %}"></script>

{% endblock %}
